<div class="container">
    <section>
        <div class="section__left animate__animated     animate__fadeInLeft">
            <div>
                <h1>
                    Welcome to
                    Spark Bank
                </h1>
                <h3>
                    The Best Choice For You
                </h3>
            </div>
          
            <div>
                <button mat-raised-button (click)="viewCusts()">GO</button>
            </div>
        </div>
       
         <div class="section__right animate__animated animate__fadeInRight">
            <img src="https://pbs.twimg.com/media/E4qeoG4VEAQF81X.png" alt="">

         </div>
    </section>

</div>